body{ 
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    flex: 0;
}
body > div {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 78, 1);
    color: white;
    margin: 0px;
    padding: 10px 100px;
}

.header a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.hero {
    background-color: rgb(1, 78, 1);
    color: white;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.hero img {
    width: 300px;
    height: auto;
}

.photo-lineup {
    display: flex;
}

.photo-lineup img {
    width: 100px;
    height: auto;
    border: 10px solid grey;
}