body{ 
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    flex: 0;
}
body > div {
    flex: 1;
}

button {
    background-color: lime;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
}

/* first background color */

.header,
.hero,
.footer,
.header a {
    background-color: rgb(1, 78, 1);
    color: white;
}

/*header section */

.header {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 10px 100px;
}

.header a{
    text-decoration: none;
    padding: 10px;
}

/*hero section*/

.hero {
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
}

.hero img {
    width: 300px;
    height: auto;
}

.hero button {
    border: none;
}

.photos-container {
    text-align: center;
}

.photo-lineup {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.photo-lineup img {
    width: 100px;
    height: 100px;
    border: 10px solid grey;
}

/*testimonial section */

.testimonial {
    padding: 50px 100px;
    background-color: rgb(255, 234, 198)
}

.quote {
    font-size: 20px;
    font-style: italic;
}

.attribution {
    text-align: right;
}

.sign-up-window {
    margin: 50px 100px;
    padding: 25px 100px;
    background-color: lime;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*sign-up section*/

.sign-up-window text{
    flex: 1;
}

h2 {
    margin: 0px;
    padding: 0px;
}

.footer {
    text-align: center;
    padding: 25px;
    font-size: 11px;
}